@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <h2>GCSE Chinese API</h2>
        <ul>
            <li>Theme</li>
            <li>Topics</li>
            <li>Assessments</li>
            <li>Exam Papers</li>
        </ul>
    </div>
    
</div>
